git+https://github.com/pyrogram/pyrogram@master
git+https://github.com/Itsunknown-12/yt-dl@master
tgcrypto
youtube-search
py-tgcalls
python-dotenv
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
future
psutil
wget
motor
pymongo
dnspython
heroku3
gitpython
